
/* Aplica sombra ao div dentro do header */
.header-content {
  background-color: #ffffff; /* Cor de fundo do div */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Propriedade de sombra */
  border-radius: 5px; /* Bordas arredondadas, opcional */
}

/* Estilos gerais para o header */
header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 90px;
  margin-bottom: 25px;
  background-color: #f8f9fa; /* Cor de fundo do header */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Propriedade de sombra */
}

/* Estilos para a seção à esquerda do header */
.header-left {
  flex: 1;
}

/* Estilos para a seção central do header */
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

#logo {
  width: 200px;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 30px;
  font-size: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 22px;
}

nav ul li a:hover {
  color: #04182e;
}

header p {
  font-size: 23px;
  font-weight: bold;
}

header a {
  font-size: 30px;
  font-weight: bold;
}/*Fim header*/

/* Footer */
footer {
  padding: 75px 250px;
  background-color: #ffffff; /* Cor de fundo do footer */
  text-align: center;
}

footer hr {
  border: 0;
  height: 2px;
  background-color: #ccc;
  margin: 0; /* Remove margens extras */
}

/* Estilos para o conteúdo do footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto; /* Espaçamento vertical e centralização horizontal */
  padding: 0 20px; /* Espaçamento horizontal interno */
  font-size: 20px;
}

/* Estilos para a seção à esquerda do footer */
.footer-left {
  flex: 1;
  text-align: left;
}

/* Estilos para a seção à direita do footer */
.footer-right {
  flex: 1;
  text-align: right;
}
