{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Controle de Visitantes
{% endblock page_title %}

{% block content %}

<head>
  <title>Controle de Visitantes</title>
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

    <div style="text-align: center; padding: 20px;">
        <h1>Controle de Visitantes</h1>


    </div>

    <div class="card-container" style="text-align: center">

            <div class="card">
                <h1>Pendências</h1><br>
                <img src="{% static '/imagens/alerta_.png' %}" alt="Alerta">

                <p>Controle de estadia visitantes</p>
                <a href="{% url 'controle_visitas_list' %}"><button>Até 3 dias</button></a><br>
                <a href="{% url 'controle_visitas_list' %}"><button>Há mais de 4 dias</button></a>
            </div>

        </div>
{% endblock content %}
