{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Home Portaria
{% endblock page_title %}

{% block content %}
    {% if messages %}
    <br>
    {% for message in messages%}
        <div class="alert {{message.tags}}">{{message}}</div>
    {% endfor%}
    {% endif %}
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    </head>

    <div class="text_Inicial">
<h1> Bem vindo(a), <strong>{{ request.user.username }}</strong></h1>

    </div>


    <div class="card-container" >
        <div class="card">
            <h1>Controle Moradores</h1>
            <img src="{% static 'imagens/2470642.png' %}" alt="Morador">
            <p>Cadastrar e gerenciar acesso de moradores</p>
            <a href="{% url 'registro_moradores_cadastro' %}"><button>Cadastrar Entrada/Saída</button></a><br>
            <a href="{% url 'registro_moradores_lista' %}"><button>Listar Registros</button></a>
        </div>

        <div class="card">
            <h1>Controle de Vistantes</h1>
            <img src="{% static 'imagens/visitante.png' %}" alt="Visitante">
             <p>Cadastrar e gerenciar acesso de visitantes</p>
             <a href="{% url 'registro_visitantes_cadastro' %}"><button>Cadastrar Entrada/Saída</button></a><br>
             <a href="{% url 'registro_visitantes_lista' %}"><button>Listar Registros</button></a>
        </div>

        <div class="card">
            <h1>Estacionamento</h1><br><br>
            <img src="{% static 'imagens/visitante.png' %}" alt="Visitante">
             <p>Visualizar o estacionamento</p>
            <br><br><br>
             <a href="{% url 'estacionamento' %}"><button>Acessar o estacionamento</button></a><br>

        </div>

    </div>


{% endblock content %}