{% load static %}

<title>Login Janos System</title>


{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    </head>

    <header class="header">
        <div class="header-left">Login</div>
        <div class="header-right">
            <img src="{% static 'imagens/Logo_editado_2.png' %}" alt="Jano Systems">
        </div>
    </header>

    <div class="login-container">
        <img class="main-logo" src="{% static 'imagens/Logo_Cond_2.jpeg' %}" alt="Condomínio Parque Santa Lúcia">
        <h2>Bem-vindo!</h2>
        <span class="sub_text">Entre com seu usuário e senha.</span>
        <form class="login-form" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Usuário..." name="nome">
            <input type="password" placeholder="Senha..." name="senha">
            <button type="submit" class="btn_login">Entrar</button>
        </form>


        <div class="separator">
            <hr><span>OU</span><hr>
        </div>
        <a href="{%url 'recuperar_senha'%}"><button class="forgot-password">Esqueceu a senha?</button></a>
    </div>
{% endblock content %}