{% load static %}

<title>Login Janos System</title>


{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    </head>

    <header class="header">
        <div class="header-left">Login</div>
        <div class="header-right">
            <img src="{% static 'imagens/Logo_editado_2.png' %}" alt="Jano Systems">
        </div>
    </header>

    <div class="login-container">
        <img class="main-logo" src="{% static 'imagens/Logo_Cond_2.jpeg' %}" alt="Condomínio Parque Santa Lúcia">
        <h2>Bem-vindo!</h2>
        <span class="sub_text">Entre com seu usuário e senha.</span>
        <form class="login-form">
            <input type="" placeholder="Usuário">
            <input type="password" placeholder="Senha">
        </form>
        <a href="{%url 'index'%}"><button class="btn_login">Login</button></a>
        <div class="separator">
            <hr><span>OU</span><hr>
        </div>
        <button class="forgot-password">Esqueceu a senha?</button>
    </div>
{% endblock content %}