{% load static %}
{% block page_title %}
{% endblock page_title %}

{% block content %}

    <head>
        <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    </head>
    <header class="header">
        <div class="header-left">Recuperar Acesso</div>
        <div class="header-right">
            <img src="{% static 'imagens/Logo_editado_2.png' %}" alt="Jano Systems">
        </div>
    </header>

    
    {% if messages %}
    <br>
    {% for message in messages%}
        <div class="alert {{message.tags}}">{{message}}</div>
    {% endfor%}
    {% endif %}


    <div class="login-container">
        <img class="main-logo" src="{% static 'imagens/Logo_Cond_2.jpeg' %}" alt="Condomínio Parque Santa Lúcia">
        <h2>Redefinir Senha</h2>
        <span class="sub_text">Não se preocupe, insira seu nome de usuário<br>
            para e digite uma Nova Senha.</span>
            <form class="login-form" id="recovery-form" method="POST">
                {% csrf_token %}
        
                <input type="text" name='usuario'  placeholder='Digite seu usuário...'>
                <!--<input type="text" name="doc_cpf" id="cpf"  placeholder="CPF...">-->
                <input type="password" name='senha' placeholder="Digite a nova senha...">
                <input type="password" name='confirm_senha' placeholder="Confirme a senha...">
                <button type="submit" class="btn_login">Redefinir Senha</button>
        </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function(){
        $('#cpf').mask('000.000.000-00', {reverse: true});
            });
        </script>
    <!--<script>
        document.getElementById('recovery-form').addEventListener('submit', function(event) {
            event.preventDefault();
            alert('Sua senha foi restaurada com sucesso!');
            window.location.href = "{%url 'login'%}";
        });
    </script>-->
{% endblock content %}