{% extends 'base.html' %}
{% load static %}
{% block page_title %}
  Controle de Veículos
{% endblock page_title %}

{% block content %}
<head>
  <title>Controle de Veiculos</title>
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

  <div style="text-align: center; padding: 20px;">
    <h1 class="txtadm">Controle de Veículos</h1>
  </div>
  <div class="card-container" style="text-align: center">
      <div class="card">
        <h1>Carros de Moradores</h1>
        <img src="{% static '/imagens/carrom.png' %}" alt="Carros de Moradores">
        <p>Cadastrar e gerenciar acesso dos Carros dos Moradores</p>
        <a href="{% url 'funcionarios_cadastro' %}"><button>Cadastrar Carro de Morador</button></a><br>
        <a href="{% url 'funcionarios_lista' %}"><button>Listar Carros de Moradores</button></a>
      </div>
      <div class="card">
        <h1>Carros de Visitantes</h1>
        <img src="{% static '/imagens/carrov.png' %}" alt="Carros de Visitantes">
        <p>Cadastrar e gerenciar acesso dos Carros dos Visitantes</p>
        <a href="{% url 'funcionarios_cadastro' %}"><button>Cadastrar Carro de Visitante</button></a><br>
        <a href="{% url 'funcionarios_lista' %}"><button>Listar Carros de Visitantes</button></a>
      </div>
      <div class="card">
        <h1>Controle de Motos</h1>
        <img src="{% static '/imagens/moto.png' %}" alt="Motos de Moradores">
        <p>Cadastrar e gerenciar acesso das Motos</p>
        <a href="{% url 'funcionarios_cadastro' %}"><button>Cadastrar Moto</button></a><br>
        <a href="{% url 'funcionarios_lista' %}"><button>Listar Motos</button></a>
      </div>
  </div>
{% endblock content %}