{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}
    {% if apartamento.pk %}
        Edição de Cadastro
    {% else %}
        Cadastro de Apartamentos(as)
    {% endif %}
{% endblock page_title %}

{% block content %}
    {% if apartamento.pk %}
		<h1> Editar Cadastro </h1>

	{% else %}
        <h1> Cadastro de Apartamentos </h1>
                <p>Cadastro dos apartamentos ADM</p>
        <h1> Novo Apartamento(a) </h1>
	{% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form| crispy }}

        {% if apartamento.pk %}
            <button type="submit" class="btn btn-primary" >Editar</button>
            <a href="{% url 'apartamentos_lista' %}" class="btn btn-danger">Cancelar</a>

        {% else %}
            <button type="submit" class="btn btn-primary" >Cadastrar</button>
            <a href="{% url 'apartamentos_cadastro' %}" class="btn btn-danger">Cancelar</a>
            <a href="{% url 'apartamentos_lista' %}" class="btn btn-secondary">Apartamentos Cadastrados</a>

        {% endif %}

    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    


    <script>
        $(document).ready(function(){
        $('#phone').mask('(00) 0 0000-0000', {reverse: true});
            });
    </script>
{% endblock content %}