{% extends 'base.html' %}
{% block page_title %}
    Título: Lista de Funcionários
{% endblock page_title %}

{% block content %}
    <h1> Lista de Funcionários </h1>
        <p>Subtítulo: usando classes</p>

    {% if cadastro_list %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Titulo</th>
              <th scope="col">Data Criação</th>
              <th scope="col">Data de Entrega</th>
              <th scope="col">Data Final Real</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for i in cadastro_list %}
                <tr>
                    <th scope="row">{{ i.pk }}</th>
                    <td>{{i.titulo}}</td>
                    <td>{{i.data}}</td>
                    <td>{{i.datafim}}</td>
                    <td>{{i.data_fim_real|default:"-"}}</td>
                    <td>
                        <a href="{% url 'conclusao_funcionarios' pk=i.pk %}"
                           class="btn btn-primary btn-sm {% if i.data_fim_real %} disabled {% endif %}">Concluir</a>

                        <a href="{% url 'edicao_funcionarios' pk=i.pk %}"
                           class="btn btn-secondary btn-sm {% if i.data_fim_real %} disabled {% endif %}">Editar</a>
                        <a href="{% url 'exclusao_funcionarios' pk=i.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <p>Não há funcionários cadastrados</p>
    {% endif %}

    <a href="{% url 'cadastro_funcionarios' %} " class="btn btn-primary btn-sm">Novo Cadastro</a>
{% endblock content %}