{% extends 'base.html' %}
{% block page_title %}
    Título: Excluir Funcionários
{% endblock page_title %}

{% block content %}
    <h1> Excluir Funcionários </h1>
        <p>Confirmação do exclusão!</p>
    <p>Tem certeza que desseja excluir o registro do  funcionário(a) <strong>"{{cadastro.titulo}}"</strong>?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'lista_funcionarios' %}" class="btn btn-primary">Cancelar</a>
    </form>

{% endblock content %}