{% extends 'base.html' %}
{% block page_title %}
    Excluir Carro
{% endblock page_title %}

{% block content %}
    <h1> Excluir Carro </h1>
        <h4>Confirmação do exclusão!</h4>

    <p>Tem certeza que deseja excluir o registro do carro <strong>"{{carro.visitante}}"</strong>?</p>
    <p><strong>Placa:</strong> {{carro.placa}}</p>
    <p><strong>Modelo:</strong> {{carro.modelo}}</p>
    <p><strong>Cor:</strong> {{carro.cor}}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'moradores_lista' %}" class="btn btn-primary">Cancelar</a>
    </form>

{% endblock content %}