{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% if moto.pk %}
        Edição de Cadastro
    {% else %}
        Cadastro de Motos
    {% endif %}
{% endblock page_title %}

{% block content %}
    {% if moto.pk %}
		<h1> Editar Cadastro </h1>

	{% else %}
        <h1> Cadastro de Motos </h1>
                <p>Cadastro das motos 'portaria'</p>
        <h1> Nova moto </h1>
	{% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form| crispy }}

        {% if moto.pk %}
            <button type="submit" class="btn btn-primary" >Editar</button>
            <a href="{% url 'motos_lista' %}" class="btn btn-danger">Cancelar</a>

        {% else %}
            <button type="submit" class="btn btn-primary" >Cadastrar</button>
            <a href="{% url 'motos_cadastro' %}" class="btn btn-danger">Cancelar</a>
            <a href="{% url 'motos_lista' %}" class="btn btn-secondary">Motos Cadastrados</a>

        {% endif %}

    </form>
{% endblock content %}