{% extends 'base.html' %}
{% block page_title %}
    Lista de Registro de Visitantes
{% endblock page_title %}

{% block content %}


    <h1> Lista de Registro de Visitantes  </h1>
    

    {% if registrovisitante_list %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Visitante</th>
              <th scope="col">Data de Entrada</th>
              <th scope="col">Data Limite de saída</th>
              <th scope="col">Data Saída</th>
              <th scope="col">Está de Carro?</th>
              <th scope="col">Morador</th>
              <th scope="col">Autorização</th>
              <th scope="col">Data Ligação</th>
              <th scope="col">Ações</th>
              

            </tr>
          </thead>
          <tbody>
            {% for registrovisitante in registrovisitante_list %}
                <tr>
                    <th scope="row">{{ registrovisitante.pk }}</th>
                    <td>{{registrovisitante.visitante}}</td>
                    <td>{{registrovisitante.data_entrada|date:"d/m/Y à\s H:i"}}</td>
                    <td>{{registrovisitante.data_limite|date:"d/m/Y à\s H:i" | default:" - "}}</td>
                    <td>{{registrovisitante.data_saida|date:"d/m/Y à\s H:i"|default:" - "}}</td>
                    <td>{%if registrovisitante.esta_de_carro %}Sim{%else%}Não{% endif %}</td>
                    <td>{{registrovisitante.morador}}</td>
                    <td>{%if registrovisitante.autorizacao %}Sim{%else%}Não{% endif %}</td>

                    <td>{{registrovisitante.data_ligacao|date:"d/m/Y à\s H:i"|default:" - "}}</td>
                    {% if request.user.cargo == "PTR" %}
                    <td>
                      
                      <a 
                        href="{% url 'registro_visitante_saida' pk=registrovisitante.pk %}" 
                        class="btn btn-primary btn-sm {% if registrovisitante.data_saida  %} disabled {% elif not registrovisitante.autorizacao %} disabled{% endif %}"
                      >
                          Saída
                      </a>

                        <a href="{% url 'registro_visitantes_edicao' pk=registrovisitante.pk %}"
                           class="btn btn-secondary btn-sm {% if registrovisitante.data_saida %} disabled{% endif %}">Editar</a>
                        <a href="{% url 'registro_visitantes_exclusao' pk=registrovisitante.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <p>Não há registro de visitantes cadastrados</p>
    {% endif %}
    {% if request.user.cargo == "PTR" %}
      <a href="{% url 'registro_visitantes_cadastro' %} " class="btn btn-primary btn-sm">Novo Cadastro</a>
    {% endif %}
{% endblock content %}