{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Lista de {{ cargos }}
{% endblock page_title %}


{% block content %}
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages%}
                <div class="alert {{message.tags}}">{{message}}</div>
            {% endfor%}
        {% endif %}

        <h1>Lista de {{ cargos }} </h1>


        <hr class="bg-hr">

        <table class="table table-striped ">
            <thead>
                <tr>
                    <th scope="col">Nome Completo</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Último login</th>
                    <th scope="col">Status</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios%}
                    <tr>
                        <th>{{usuario.first_name}}</th>
                        <th>{{usuario.username}}</th>
                        <td>{{usuario.telefone}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{% if not usuario.last_login %}
                                Primeiro acesso
                            {% else %}
                                {{usuario.last_login|date:"d/m/Y à\s H:i"}}
                            {% endif %}

                        </td>

                        <td>{% if usuario.status == 'A' %}
                            Ativo (a)
                        {% else %}
                            Inativo(a)
                        {% endif %}
                        </td>   


                        <td>{% if usuario.status == 'A' %}

                            <a href="{% url 'excluir_usuario' usuario.id %}" class="btn btn-danger btn-sm">Desativar</a>
                        {% else %}
                            <a href="{% url 'ativar_usuario' usuario.id %}" class="btn btn-success btn-sm">Ativar</a>
                        {% endif %}
                        </td>

                        



                    </tr>
                {% endfor %}

            </tbody>
            </table>

        {% if tipo_user == 'ADM' %}
            <a href="{% url 'cadastrar_adm' %}" class="btn btn-primary">Cadastrar novo Usuário</a>
        {% elif tipo_user == 'SDC' %}
            <a href="{% url 'cadastrar_sindico' %}" class="btn btn-primary">Cadastrar novo Usuário</a>
        {% else %}
            <a href="{% url 'cadastrar_porteiro' %}" class="btn btn-primary">Cadastrar novo Usuário</a>
        {% endif %}



    </div>


{% endblock content %}


